.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    padding: 30px;
    margin: 10px;
}


.footer-box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box li a {
    color: black;
}

.copyright {
    padding: 20px;
    text-align: center;
    background: rgba(5, 3, 3, 0.767);
    color: white;
    
}
